<div id="game"></div>

@section Scripts
{
    <partial name="_PhaserPartial"></partial>
    <script src="game/lib/pathfinding-browser.js"></script>
    <script defer src="game/index.js" asp-append-version="true" type="module"></script>
}
