<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DungeonCrawl</title>
    <link rel="stylesheet" href="./css/reset.css">
    <partial name="_KendoPartial"></partial>
</head>
<body>
@RenderBody()
@RenderSection("Scripts", required: false)
</body>
</html>